body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background: grey
}
button {
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 5px;
  width: 175px;
}
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.hidden {
  display: none;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas:  'header header header' 
                        'bank work laptop-selection' 
                        'laptop-info laptop-info laptop-info ';
  grid-gap: 50px 100px;
  border-radius: 5px;
}

.divContainer {
  display: inline-grid;
  background: rgba(197, 229, 241, 0.445);
  border-radius: 10px;
  justify-content: center;

}

#header {

  grid-area: header;
  background: #c7c404
}

#bank {
  grid-area: bank;

}

#work {
  grid-area: work;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-areas: 'title title' 
                        'pay pay'
                        'loan loan'
                        'deposit work';

}

#laptop-selection {
  grid-area: laptop-selection;

}

#laptop-info {
  grid-area: laptop-info;

}

#work-title{
  display: inline-grid;
  grid-area: title;
}
#work-pay {
  display: inline-grid;
  grid-area: pay;
}
#deposit-button {
  display: inline-grid;
  grid-area: deposit
}
#work-button {
  display: inline-grid;
  grid-area: work;
}
#pay-loan-button-span {
  display: inline-grid;
  grid-area: loan;
}